body {
    background-color: blueviolet !important;
}

h1.name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    min-width: 500px;
    color: brown;
}

h3.name {
    font-family: cursive;
    color: brown;
    margin-bottom: 50px;
}

h1.describe{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color: rgb(0, 0, 0);
}

a.twirl {
    font-size: 35px;
    font-family: cursive;
    text-decoration: none;
    color: blueviolet;
}

.regist-form {
    width: 403px;
}

.bg-tipawhite {
    background-color: #f7f7f9;
}

h1.lead {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#a9203e;
    color: bisque;
    width: 482px;
}

legend.reg {
    background-color: white; 
    color: #a9203e;
}

button.cvet {
    background-color: #a9203e;
}

img.lubov{
    width: 330px;
    height: 320px;
}

figcaption.autor{
    color: #a9203e;
}

img.decor{
    width: 540px;
    height: 100px;
}

button.knopka{
    width: 140px;
    height: 40px;
    margin-right: 2%;
    border: 0;
    background-color: #a9203e;
}

b.kont{
    font-size: larger;
}

img.hearts{
    width: 350px;
    height: 200px;  
}

img.img-ava{
    width: 350px;
    height: 200px;   
}

nav.head{
 background-color: white !important;
 box-shadow: 2px 2px 3px rgba(0, 0, 0,0.4);
}

.car{
    height: 400px;
}

.bg-anckets{
    background-color: rgb(241, 209, 211);
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

p.text-pisma{
    font-family: cursive;
}