<header>
    <nav class="head navbar bg-body-tertiary mb-4">
        <div class="container-fluid">
        <a class="twirl navbar-brand  d-flex align-items-center" href="/">
            <img src="images/logotype.svg" alt="Logo" width="50" height="45" class="d-inline-block align-text-top">
            LA
        </a>
            <div class="d-flex justify-content-end">
                {{#unless user}}
                <a href="#" class="knopka btn text-light" data-bs-toggle="modal" data-bs-target="#LoginModal">Войти</a>
                {{/unless}}
                {{#if user}}
                <a href="/my_ancket" class="knopka btn text-light">Моя анкета</a>
                <a href="#" id="logoutButton" class="knopka btn text-light">Выход</a>
                {{/if}}
            </div>
        </div>
    </nav>
</header>

<!-- модальное окно - вход в действующий аккаунт -->
<div class="modal fade" id="LoginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="LoginModalLabel">Вход в аккаунт</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form id="LoginForm">
                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail</label>
                        <input name="email" type="email" class="form-control" required value="Artem@111">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль</label>
                        <input name="password" type="password" class="form-control" required value="1234">
                    </div> 
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="LoginForm" class="btn knopka text-light">Войти</button>
                <button type="button" class="btn knopka text-light" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="scripts/menu.js"></script>