
    <div class="container mb-5">
        <b class="kont d-flex justify-content-center mt-5 mb-3">КОНТАКТЫ</b>
            <br>ООО «LOVEAGENTS.РУ»
            <br>ОГРН 453676392929
            <br>ИНН 64676347
            <br>Адрес: 162181, г. Москва, ул. 2-ая Илюминатская, д. 13, стр. 4
        <b class="kont d-flex justify-content-center mt-5 mb-3">СЕРВИС И ПОДДЕРЖКА</b>
            <br>По всем вопросам и предложениям по работе сайта обращайтесь:
            <br>E-mail: 
              <a href="mailto:malika12345678love@gmail.com">malika12345678love@gmail.com</a> 
            <br>E-mail службы поддержки: 
              <a href="mailto:help@corpla.com">help@corpla.com</a> 
        <b class="kont d-flex justify-content-center mt-5 mb-3">ОТДЕЛ МАРКЕТИНГА И СВЯЗЕЙ С ОБЩЕСТВЕННОСТЬЮ</b>
            <br>E-mail: 
            <a href="mailto:marketing@corp.loveagents.ru">marketing@corp.loveagents.ru</a> 
            <br> (Заявки и вопросы по пользованию сайтом, отправленные отделу маркетинга, рассмотрены не будут.)
    </div>