    
    <div class="container mb-5">
        <b class="kont d-flex justify-content-center mt-5 mb-3">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</b>
        <br>
        <br><b>Как я могу редактировать свой профиль?</b>
        <br>
    </div>