
    <div class="container mb-5">
        <b class="kont d-flex justify-content-center mt-5 mb-3">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</b>
        <br>Об этой Политике конфиденциальности:
        <br>
        <br>Политика конфиденциальности - это документ, описывающий правила обработки данных пользователей наших сайтов и приложений. Конфиденциальность данных очень важна для нас. Поскольку мы несем ответственность за ваши данные, мы разработали этот документ для защиты ваших данных, пока наши сайты и приложения обрабатывают их. Вы должны прочитать эту политику конфиденциальности, потому что она расскажет вам, какие данные мы собираем и как мы их собираем, как мы их используем, с кем мы делимся ими, как вы можете получить доступ к такой информации и обновлять ее, как мы защищаем эту информацию
        <br>
        <br>Кто мы такие:
        <br>
        <br>Сайты и приложения Службы знакомств LA управляются LoveAgents.ru ООО, компания, зарегистрированная в Российской Федерации.
        <br>
        <br>Полная юридическая часть:
        <br>
        <br>Мы знаем, что использование ваших персональных данных другими людьми вызывает большую озабоченность у пользователей социальных сетей, поэтому мы разработали эту политику конфиденциальности (далее “Политика”), чтобы вы знали, как мы используем персональные данные.
        <br>
        <br>Наша Политика распространяется на использование вами веб-сайта Службы знакомств Love Agents. Мы предлагаем вам ознакомиться с ним в сочетании с нашим Соглашением об использовании (“Условия”). Когда вы заходите на сайт, вы соглашаетесь с нашей Политикой конфиденциальности и даете согласие на сбор, хранение, использование и раскрытие ваших персональных данных в соответствии с положениями настоящей Политики. Вы можете отозвать свое согласие в любое время. В зависимости от вашей юрисдикции вы можете сделать это, обратившись в нашу службу поддержки из своего профиля. 
        <br>
        <br>ЕСЛИ ВЫ НЕ ПРИНИМАЕТЕ И НЕ СОГЛАСНЫ С НАШЕЙ ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ, ВЫ НЕ ДОЛЖНЫ ЗАХОДИТЬ НА САЙТ И ИСПОЛЬЗОВАТЬ ЕГО.
        <br>
        <br><b>Какую информацию собирает LoveAgents, если я решу зарегистрироваться на Сайте или использовать некоторые функции?</b>
        <br>
        <br>Чтобы зарегистрироваться на Сайте, вам необходимо заполнить нашу онлайн-регистрационную форму и создать свою анкету пользователя (далее “Моя анкета”). Мы попросим вас предоставить нам информацию о вас, такую как ваше имя, адрес электронной почты, ваш пол, дата рождения, данные о вашем местоположении. У вас также есть возможность предоставить другие сведения о себе, но это необязательно. Поскольку вы контролируете свой профиль пользователя, эти данные доступны вам в любое время при доступе к вашей анкете, что дает вам возможность исправить или обновить (кроме пола и возраста) вашу информацию в любое время, просто войдя на Сайт.
        <br>
        <br><b>Какую информацию LoveAgents собирает обо мне, если мне меньше 18 лет?</b>
        <br>
        <br>Вы можете зарегистрироваться в LoveAgents или пользоваться его функциями только в том случае, если вам исполнилось 18 лет и старше. Это означает, что LA сознательно не собирает никакой информации о детях, несовершеннолетних или лицах, не достигших совершеннолетия. Мы также сознательно не продаем товары детям, несовершеннолетним или лицам младше 18 лет. Если вам меньше 18 лет, мы просим вас не предоставлять нам информацию.
        <br>
        <br><b>Продает ли Teamo мою информацию другим лицам?</b>
        <br>
        <br>Вовсе нет. Мы не продаем и не сдаем в аренду какие-либо ваши персональные данные третьим лицам. LA раскрывает совокупные неличные данные в маркетинговых и рекламных целях. Это означает, что мы не раскрываем никакой информации, которая могла бы быть использована для вашей идентификации.
        <br>
        <br><b>Как я могу помочь сохранить свою информацию в безопасности?</b>
        <br>
        <br>Вы не имеете права разглашать свой пароль третьим лицам или делиться им с третьими лицами. Если вы потеряете свой пароль или выдадите его, ваши персональные данные могут быть скомпрометированы. Если это произойдет, пожалуйста, сообщите об этом на страницу поддержки. Вы должны немедленно сменить свой пароль на странице “Настройки”. LA не может нести ответственность за то, что вы не обеспечили безопасность своего пароля, и невыполнение этого требования может привести к нарушению наших Условий.
        <br>
    </div>